Step 1: Copy CSV File inside **/content** folder

In [41]:
#@title Prerequisite: Require or Download all the needed dependencies {display-mode: "form"}

try:
  import os
  import pandas as pd
  #import numpy as np
except ModuleNotFoundError:
  %pip install pandas
  #%pip install numpy

Step 2: Insert CSV file name (example: "myimport_file.csv")

In [42]:
#@title Step 2: Insert CSV file name (example: "myimport_file.csv") {display-mode: "form"}

#CHANGE THIS VALUE
csv_file_name = "organizations.csv"

Step 3: Load data from CSV file

In [43]:
#@title Step 3: Load data from CSV file {display-mode: "form"}
csv_file = os.getcwd() + "/content/" + csv_file_name
if os.path.exists(csv_file):
    dataframe = pd.read_csv(csv_file)
    gene_data = dataframe.to_dict(orient="records")
    print("data loaded from csv file: ")
    dataframe
else:
    raise Exception("Please upload a file inside content folder and set the right csv file name in Step 2")
dataframe

data loaded from csv file:

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870
...,...,...,...,...,...,...,...,...,...
95,96,0a0bfFbBbB8eC7c,Holmes Group,https://mcdowell.org/,Ethiopia,Right-sized zero tolerance focus group,1975,Photography,2988
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292
97,98,E7df80C60Abd7f9,Clements-Espinoza,http://www.flowers.net/,Falkland Islands (Malvinas),Progressive modular hub,1991,Broadcast Media,236
98,99,AFc285dbE2fEd24,Mendez Inc,https://www.burke.net/,Kyrgyz Republic,User-friendly exuding migration,1993,Education Management,339
99,100,e9eB5A60Cef8354,Watkins-Kaiser,http://www.herring.com/,Togo,Synergistic background access,2009,Financial Services,2785

Step 4: Export as excel file

In [44]:
#@title Step 4: Export as excel file {display-mode: "form"}

# SEE https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html to find all parameters

dataframe.to_excel(os.getcwd() + "/content/output_full.xlsx", sheet_name="main", index=False)
print('Excel created successfully.')

Excel created successfully.

Step 5.1: Filter data by a column

In [45]:
#@title Step 5.1: Filter data by a column

#CHANGE THIS VALUES
column_name = 'Country'

#CHANGE THIS VALUES
filter_value = 'Finland'

filtered_dataframe = dataframe[dataframe[column_name] == filter_value]
filtered_dataframe

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952

Step 5.2: Export as Excel

In [46]:
#@title Step 5.2: Export as Excel {display-mode: "form"}

filtered_dataframe.to_excel(os.getcwd() + "/content/output_filter_by_" + column_name + ".xlsx", sheet_name="main", index=False)

print('Excel created successfully.')

Excel created successfully.

Step 6.1: Filter data by a column

In [47]:
#@title Step 6.1: Filter data by a column

#CHANGE THIS VALUES
column_name = 'Industry'

#CHANGE THIS VALUES
filter_value = 'Insurance'

filtered_dataframe = dataframe[dataframe[column_name] == filter_value]
filtered_dataframe

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
24,25,5fDBeA8BB91a000,Jenkins Inc,http://www.kirk.biz/,South Africa,Front-line systematic help-desk,2002,Insurance,1215

Step 6.2: Export as Excel

In [48]:
#@title Step 6.2: Export as Excel {display-mode: "form"}

filtered_dataframe.to_excel(os.getcwd() + "/content/output_filter_by_" + column_name + ".xlsx", sheet_name="main", index=False)

print('Excel created successfully.')

Excel created successfully.

Step 7.1: Filter data by a column

In [49]:
#@title Step 7.1: Filter data by a column

#CHANGE THIS VALUES
column_name = 'Founded'

#CHANGE THIS VALUES
filter_value = 1971

filtered_dataframe = dataframe[dataframe[column_name] == filter_value]
filtered_dataframe

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
54,55,e24D21BFd3bF1E5,Richard PLC,https://holden-coleman.net/,Mayotte,Object-based optimizing model,1971,Broadcast Media,4942
96,97,BA6Cd9Dae2Efd62,Good Ltd,http://duffy.com/,Anguilla,Reverse-engineered composite moratorium,1971,Consumer Services,4292

Step 7.2: Export as Excel

In [50]:
#@title Step 7.2: Export as Excel {display-mode: "form"}

filtered_dataframe.to_excel(os.getcwd() + "/content/output_filter_by_" + column_name + ".xlsx", sheet_name="main", index=False)

print('Excel created successfully.')

Excel created successfully.